/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /* MAIN GRID LAYOUT*/

  body {
    display: grid;
    grid-template-columns: minmax(12rem, 1fr) 5fr;
  }

  .sidebar-menu {
    grid-column: 1;
    background-color: rgb(48, 154, 230);
    color: white;
  }

  .main-wrapper {
    grid-column: 2;
    background-color: rgba(191, 204, 219, 0.583);
  }

  /* MAIN GRID */

 .main-wrapper {
    display: grid;
    grid-template-rows: 1fr 5fr;
 }

 .header-section {
    grid-row: 1;
 }

 .main-content {
    grid-row: 2;
 }

 /* SIDEBAR */

 h1{
    font-weight: 900;
    font-size: 1.3rem;
 }

 .sidebar-menu {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    padding-top: 1rem;
    align-content: start;
 }

 .sidebar-menu > * {
    padding-left: 4rem;
 }

 .sidebar-menu ul {
    list-style: none;
    font-weight: 900;
    font-size: 1rem;
    line-height: 2.4rem;
 }

 /* HEADER */

  .header-section {
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 1.5rem;
    padding: 1rem 3rem;
    background-color: rgb(244, 244, 244);
 box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.164);
 }

 .header-top, 
 .header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-weight: bold;
    align-items: center;
 }

 .header-top {
    gap: 2rem;
 }

 .header-top > .search-section {
    justify-self: center;
 }

 .header-top > .user-icons,
 .header-bottom > .nav-buttons {
    justify-self: end;
 }

 .header-bottom .introduction {
    padding-left: 7rem;
 }

 .search-section > input[type="search"] {
    appearance: none;
    width: 35rem;
    height: 1.7rem;
    border-radius: 0.5rem;
    border-width: 0px; 
    background-color: rgba(191, 204, 219, 0.509);
 }

 .introduction > p {
    font-size: 0.7rem;
 }

 .introduction {
    font-size: 1.2rem;
 }

 .nav-buttons{
    display: flex;
    gap: 1rem;
 }

 .nav-buttons button {
    font-size: 0.7rem;
    border-radius: 0.9rem;
    border-style: none;
    width: 12ch;
    height: 4ch;
    background-color: rgba(48, 154, 230, 0.77);
    color: white;
 }


 

 /* MAIN CONTENT SECTION */

 /* boxes shadow */
.project-grouped-cards div,
.announcements,
.trending {
 box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.164);
}

    /* LEFT SECTION */

 .main-content {
    display: grid;
    grid-template-columns: 2fr 0.8fr;
    gap: 1.5rem;
    padding: 2rem 1rem 1rem 1rem;
    font-weight: bold;
 }

 .project-grouped-cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, 13.5rem);
    gap: 2rem;
 }

 .project-grouped-cards div {
    padding: 1.5rem;
    font-size: 0.9rem;
    border-left: 0.5rem solid rgb(237, 193, 46);
    border-radius: 0.5rem;
    background-color: rgb(244, 244, 244);
    overflow-x: scroll;
 }

 .project-grouped-cards div p{
    padding-top: 0.2rem;
    font-size: 0.8rem;
    color: rgb(144, 144, 144);
    line-height: 1.3rem;
 }


    /* RIGHT SECTION */

.aside-cards {
    display: grid;
    grid-template-rows: repeat(2, 22rem);
    gap: 2.6rem;
}


.announcements {
    display: grid;
    height: 90%;
    grid-template-rows: repeat(3, 1fr);
    padding: 1.5rem;
    font-size: 0.8rem;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    height: 90%;
    gap: 0.2rem;
    padding: 1rem;
    font-size: 0.8rem;
    font-weight: normal;
    justify-content: center;
}

.announcements,
.trending {
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(244, 244, 244);
    overflow-y: scroll;
    align-content: center;
}

.announcements > div:nth-child(2) {
    border-top: solid 1px rgba(128, 128, 128, 0.502);
    border-bottom: solid 1px rgba(128, 128, 128, 0.501);
}

.announcements > div,
.trending > div {
    padding: 0.7rem;
}

.announcements p,
.trending p {
    font-size: 0.7rem;
    color: rgb(144, 144, 144);
    padding-top: 0.2rem;
}

.trending div{
    margin-left: 1rem;
}

/* OTHER */

h3 {
    letter-spacing: 0.05rem;
}



/* SVG'S */

    /* SIDEBAR */

    .sidebar-menu h1,
    .main-opt li, 
    .preference-opt li {
        position: relative;
    }

    .sidebar-menu h1::before,
    .main-opt li::before, 
    .preference-opt li::before{
        position: absolute;
        width: 1.2rem;
        height: 1.2rem;
        left: -2rem;
        top: 0.1rem;
        filter: invert();
    }

    .sidebar-menu > h1::before {
        content: url("../svg/view-dashboard.svg");
        left: 2rem;
        top: -0.1rem;
        scale: 2;
    }

    .main-opt li:nth-child(1)::before{
        content: url("../svg/home.svg");
    }

    .main-opt li:nth-child(2)::before{
        content: url("../svg/card-account-details-outline.svg");
    }

    .main-opt li:nth-child(3)::before{
        content: url("../svg/message.svg");
    }

    .main-opt li:nth-child(4)::before{
        content: url("../svg/clock-time-three.svg");
    }

    .main-opt li:nth-child(5)::before{
        content: url("../svg/note-multiple.svg");
    }

    .main-opt li:nth-child(6)::before{
        content: url("../svg/account-group.svg");
    }
    
    .preference-opt li:nth-child(1)::before{
        content: url("../svg/cog.svg");
    }

    .preference-opt li:nth-child(2)::before{
        content: url("../svg/help-box.svg");
    }

    .preference-opt li:nth-child(3)::before{
        content: url("../svg/shield-check.svg");
    }

    /* HEADER */

    .search-section label {
        position: relative;
    }

    .search-section label::before {
        position: absolute;
        content: url("../svg/magnify.svg");
        width: 1.5rem;
        height: 1.5rem;
        left: -2rem;
        bottom: -0.1rem;
    }

/* IMAGES */

    /* HEADER */

 .introduction span,
 .user-icons {
    position: relative;
 }

 .introduction span::before,
 .user-icons::before {
    position: absolute;
    content: " ";
    background: url(../images/mechamaru.JPG);
    background-size: contain;
    border-radius: 3rem;
 }

 .user-icons::before {
    width: 2.5rem;
    height: 2.5rem;
    top: -0.5rem;
    left: -4rem;
 }

 .user-icons::after {
    position: absolute;
    content: url(../svg/bell-ring-outline.svg);
    width: 1.5rem;
    height: 1.5rem;
    left: -7.5rem;
 }

 .introduction span::before {
    width: 4rem;
    height: 4rem;
    top: -2.2rem;
    left: -5.5rem;
 }

    /* TRENDING CARDS */


.trending div {
    position: relative;
}


.trending div::before {
    position: absolute;
    content: " ";
    background-size: 100%;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    left: -3rem;
    top: 0.2rem;
}

.trending div:nth-child(1)::before {
    background-image: url(../images/itadori-yuji.jpg);
}

.trending div:nth-child(2)::before {
    background-image: url(../images/nobara-kugisaki.webp);
}

.trending div:nth-child(3)::before {
    background-image: url(../images/megumi-fushiguro.webp);
}

.trending div:nth-child(4)::before {
    background-image: url(../images/gojo-satoru.jpg);
}


    
    













