/* CSS RESET */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }
  
  
  body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-height: 100vh;
  }
  
  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 9. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /* MAIN GRID LAYOUT*/

  body {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }

  .sidebar-menu {
    grid-column: 1;
    background-color: rgb(130, 179, 223);
  }

  .main-wrapper {
    grid-column: 2;
    background-color: rgb(223, 225, 226);
  }

  /* MAIN GRID */

 .main-wrapper {
    display: grid;
    grid-template-rows: 1fr 5fr;
 }

 .header-section {
    grid-row: 1;
 }

 .main-content {
    grid-row: 2;
 }

 /* SIDEBAR */

 .sidebar-menu {
    display: grid;
    grid-template-rows: auto;
    gap: 2rem;
    padding-top: 1rem;
    align-content: start;
 }

 .sidebar-menu > * {
    padding-left: 2rem;
 }

 .sidebar-menu ul {
    list-style: none;
 }

 /* HEADER */

  .header-section {
    display: grid;
    grid-template-rows: 2fr 3fr;
    gap: 2rem;
    padding: 1rem 3rem;
    background-color: rgb(136, 95, 95);
 }

 .header-top, 
 .header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
 }

 .header-top > .search-section {
    justify-self: center;
 }

 .header-top > .user-icons,
 .header-bottom > .nav-buttons {
    justify-self: end;
 }

 .header-bottom {
    align-items: end;
 }

 .search-section > input[type="search"] {
    appearance: none;
    width: 30rem;
    height: 1.7rem;
    border-radius: 0.5rem;
    border-width: 0px; 
 }

 /* MAIN CONTENT SECTION */

    /* LEFT SECTION */

 .main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
    padding: 1rem;
 }

 .main-cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 9rem);
    gap: 1rem;
    grid-template: 
    "projects projects"
    "super-cool-project less-cool-project"
    "impossible-app easy-app"
    "ad-blocker money-maker";
 }

 .main-cards > h3 {
    grid-area: projects;
 }
 .card1{
    grid-area: super-cool-project;
 }
 .card2{
    grid-area: less-cool-project;
 }
 .card3{
    grid-area: impossible-app;
 }
 .card4{
    grid-area: easy-app;
 }
 .card5{
    grid-area: ad-blocker;
 }
 .card6{
    grid-area: money-maker;
 }

    /* RIGHT SECTION */









